.game {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.game__title {
  font-size: 6rem;
  position: relative;
  bottom: 3rem;
  text-align: center;
}
.game__text {
  position: relative;
  bottom: 3.5rem;
  font-size: 3.5rem;
  position: relative;
  color: red;
  text-align: center;
}
.game__btn {
  position: relative;
  top: 2rem;
  font-size: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: rgb(255, 228, 141);
  color: black;
  border: 5px solid black;
}

@media screen and (min-width: 350px) and (max-width: 585px) {
  .game {
  }

  .game__title {
    font-size: 4rem;
    position: relative;
    bottom: 0;
  }

  .game__text {
    position: relative;
    bottom: 0;
    font-size: 2.2rem;
    position: relative;
    color: red;
    text-align: center;
  }

  .game__btn {
    position: relative;
    top: 0;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
}
